@import "variables/color";

.card, .card-variant {
  background-color: var(--surface-transparent);
  border: 1px solid var(--surface-border);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: var(--radius-l);
  margin: 16px 0px 16px 0px;
}
.card {
  padding: 32px;
}

.card-variant {
  padding: 0px 24px 8px 24px;
}

@media (max-width: 575px) {
  .card, .card-variant {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  .card {
    padding: 32px 16px 32px 16px;
  }
  .card-variant {
    padding: 0px 16px 8px 16px;
    margin: 4px 0px 4px 0px;
  }
  
}