@import "variables/color";

.card {
  background-color: var(--surface-transparent);
  border: 1px solid var(--surface-border);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 32px;
  border-radius: var(--radius-l);
}