blockquote {
  box-sizing: border-box;
  border-left: 8px solid var(--text-tertiary);
  border-radius: var(--radius-m);
  margin: 0px 0px 0px 0px;
  padding-left: 12px;
  color: var(--text-secondary);
}
