@import url("variables/colors.css");
@import url("variables/sizes.css");

a {
  text-decoration: none;
}

.link-primary {
  color: var(--md-sys-color-primary);
}

button {
  padding: 8px 16px 8px 16px;
  min-width: 64px;
  border-radius: var(--radius-m);
  border: none;
  font-size: 1rem;
  font-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  cursor: pointer;
}

button .button-primary {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container)
}

.button-tertiary {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container)
}

.button-primary:hover, .button-tertiary:hover {
  filter: brightness(1.05);
}