@import url("variables/colors.css");
@import url("variables/sizes.css");

blockquote {
  box-sizing: border-box;
  border-left: 8px solid var(--md-sys-color-outline-variant);
  border-radius: var(--radius-m);
  margin: 0px 0px 0px 0px;
  padding-left: 12px;
  color: var(--md-sys-color-outline)
}